@import "tailwindcss";
/* body {


  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.app-container {
  text-align: center;
  padding: 2rem;
}

.mode-toggle button {
  margin: 0.5rem;
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 10px;
  background-color: #20293a;
  color: #e5e5e5;
  cursor: pointer;
  transition: 0.3s;
}

.mode-toggle button.active {
  background-color: #1a73e8;
} */